@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


body{
    background-color: PaleGreen;
    background-image: linear-gradient(45deg, rgba(223, 153, 153, 0.813), rgba(0, 0, 0, 0.347)), url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Rajdhani", sans-serif;
}

/*Selecciona l'element amb id="taula" */
#taula{
    background-color: #20B2AA;
}

/*Selecciona els elements tfoot que estiguin de dins un element amb id="taula"*/
#taula tfoot{
    background-color: #6310CD;
}

/*Selecciona els elements amb class="negreta" */
.negreta{
    font-weight: bold;
}

.vermell{
    color: red;
}

li{
    list-style-type: lower-greek;
}

a{
    text-decoration: none;
    color: blue;
}

a[target]{
    color: orange;
}

a:hover{
    color: rgba(0, 0, 255, 0.475);
}

img{
    border-style: solid;
    border-color: rgb(17, 139, 129);
    border-width: 4px;
    margin: 25px;
    padding: 10px;
    opacity: 50%;
    width: 200px;
    transition: opacity 1s, width 5s;
}

img:hover{
    width:500px;
    border-color: rgb(121, 139, 17);
    opacity: 100%;
}

#divImatge{
    text-align: center;
}

table, td, th{
    border: 1px solid black;
}

table{
    font-size: 19px;
    font-weight: bolder;
    margin: 25px 15px 25px 50px;
}

h1 span{
    background-image: linear-gradient(to right, yellow, green 70%, blue 85%);
}

td[colspan="2"]{
    text-decoration: underline;
}

#taula2 tbody tr:nth-child(odd){
    background-color: chartreuse;
}

#taula2 tbody tr:nth-child(even){
    background-color: coral;
}

.fa-gift{
    color: rgb(109, 118, 61);
}